$white: white;
$blue: blue;
$green: green;
$red: red;
$black: black;
$gold: gold;

.ActionWindowBackdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;

    &.hide {
        display: none;
    }

    .ActionWindow {
        position: absolute;
        width: 180px;
        min-height: 150px;
        border: 1px solid black;
        background-color: #eee;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 15px;

        .PickNoble {
            text-align: center;
            background-color: #eee;
            color: #eee;

            &.picked {
                color: black;
            }
        }

        .Card {
            cursor: none;
        }

        .Resources {
            padding: 5px;
            .Resource {
                $size: 32px;
                width: $size;
                height: $size;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #333;
                border-radius: $size;
                overflow: hidden;

                &.white {
                    background-color: $white;
                }
                &.blue {
                    background-color: $blue;
                    color: white;
                }
                &.green {
                    background-color: $green;
                    color: black;
                }
                &.red {
                    background-color: $red;
                    color: black;
                }
                &.black {
                    background-color: $black;
                    color: #ccc;
                }
                &.gold {
                    background-color: $gold;
                }

                &.invalid {
                    filter: grayscale(60%);
                    opacity: 0.5;
                }
            }
        }

    }
}
