@import '../colors';

.Card {
    position: relative;
    width: 50px;
    height: 72px;
    border: 1px solid black;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    background: lightsteelblue;

    &.affordable {
        box-shadow: 0 0 15px 2px rgba(255, 133, 27, 0.7);
    }

    .Rank {
        display: none;
        font-size: 0.8em;
        font-style: italic;
        color: #999;
    }

    .Cost {
        position: absolute;
        bottom: 6px;
        left: 3px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .Row {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: -5px;
            .Indicator {
                width: 12px;
                height: 16px;
                border: 1px solid #ccc;
                border-radius: 3px;
                &.white {
                    background-color: $white;
                }
                &.blue {
                    background-color: $blue;
                }
                &.green {
                    background-color: $green;
                }
                &.red {
                    background-color: $red;
                }
                &.black {
                    background-color: $black;
                }
            }

            .Count {
                font-size: 0.75em;
            }
        }
    }

    .Points {
        $size: 20px;
        display: flex;
        position: absolute;
        top: -1px;
        right: -1px;
        width: $size;
        height: $size;
        font-size: 0.8em;
        border: 1px solid black;
        border-bottom-left-radius: 5px;
        background-color: #eee;
        justify-content: center;
        align-items: center;
    }

    .Provide {
        $size: 20px;
        width: $size;
        height: $size;
        position: absolute;
        right: -1px;
        bottom: -1px;
        border-top-left-radius: 5px;
        border: 1px solid #ccc;

        &.white {
            background-color: $white;
        }

        &.blue {
            background-color: $blue;
        }
        
        &.green {
            background-color: $green;
        }

        &.red {
            background-color: $red;
        }

        &.black {
            background-color: $black;
        }
    }
}
