/* vim:set ft=sass: */
.Clickers {
    .Clicker {
        display: flex;
        flex-direction: row;

        margin-bottom: 1em;

        .Name {
        }
        .Info {
            font-size: 0.7em;
            .Leave {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .Photo {
            $size: 4em;
            width: $size;
            height: $size;
            margin-right: 0.5em;
        }
    }
}
