.ReservedCards {
    position: absolute;
    bottom: 90px;
    right: 10px;
    overflow: hidden;

    .CardContainer {
        overflow: auto;
        white-space: nowrap;
        border: 1px solid black;
        height: 95px;
        width: 70px;
        background-color: #555;

        .Card {
            margin: 3px;
            display: inline-block;
        }
    }
}
