/* vim:set ft=sass: */

$wallpaper: 'http://webneel.com/wallpaper/sites/default/files/images/04-2013/15-beach-sea-photography.jpg';

* {
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  max-width: 42em;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  overflow: hidden;
  // background-color: #cdc;
}


h1,h2,h3{
  line-height:1.2;
}

h4,h5{
  margin: 0.6em 0;
}

#app-bg {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  background: url($wallpaper);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(8px);

  .mask {
    width: 100%;
    height: 100%;
    background-color: rgba(34,34,34,.70);
  }
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

@media(min-width:767px) {
  body {
    margin: 40px auto;
    max-width: 42em;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    background-color: lightblue;
  }

}
