/* vim:set ft=sass: */

@import 'colors';

$wallpaper: '../assets/abstract-bg.jpg';

* {
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
  line-height: 1.6;
  font-size: 16px;
  color: #444;
  font-family: Tahoma, Geneva, sans-serif;
}

h1,h2,h3,h4,h5 {
  font-family: Arial, Helvetica, sans-serif;
}


h1,h2,h3{
  line-height:1.2;
}

h4,h5{
  margin: 15px 0 8px;
  font-weight: medium;
}

#app-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url($wallpaper);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px);
  transform: scale(1.1);

  .mask {
    width: 100%;
    height: 100%;
    background-color: rgba(34,34,34,.70);
  }
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

