$padding: 5px;

.Home {
    p {
        background-color: blue;
        padding: $padding 0;
        color: white;

        &.reverse {
            background-color: black;
            color: white;
        }
    }
}
