/* vim:set ft=sass: */
.Home {
  display: flex;
  flex-direction: column;

  .GameBoard {
    margin-bottom: 5px;
  }

  .PlayerBoard {
    margin: 0 5px;
  }

  .TourmentRound {
    display: flex;
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 9;
    padding: 0 5px;
    background-color: #eee;
  }
}
