/* vim:set ft=sass: */
.InGameMenu {
  position: absolute;
  display: flex;
  z-index: 9999;
  bottom: 0;
  right: 0;

  .user-avatar {
    $size: 48px;
    width: $size;
    height: $size;
    border-radius: $size;
    margin-right: 1em;
  }

  .scroll {
    display: flex;
    align-items: center;
    max-width: 0;
    transition: all 0.8s ease;
    overflow: hidden;
    &.expanded {
      max-width: 500px;
    }

    button {
      font-size: 1em;
      white-space: nowrap;
    }

    .user-name, .status {
      font-size: 16px;
      color: #543;
      margin-right: 1em;
      flex: 1;
      text-align: center;
      white-space: nowrap;
    }
  }

}
@media(min-width:767px) {
  .UserStatus {
    .user-name, .status {
      font-size: 18px;
      color: #543;
      margin-right: 1em;
    }
    .user-avatar {
      $size: 64px;
      width: $size;
      height: $size;
      border-radius: $size;
      margin-right: 1em;
    }
  }
}
