.NewGameSetting {
    .PlayerSetting {

    }

    .row {
        align-items: center;

        input {
            margin-left: 5px;
        }

        input[type=text], input[type=number] {
            height: 1.5em;
        }
    }

    .rounds {
        width: 50px;
        text-align: center;
    }

    .seed {
        width: 120px;
    }

    .fast-check {
        width: 20px;
        height: 20px;
        appereance: none;
    }
}
