.NewGameSetting {
    padding: 15px;
    color: #cdd;
    .PlayerSetting {

    }

    .row {
        align-items: center;

        input {
            margin-left: 5px;
        }
    }

    .rounds {
        width: 60px;
        text-align: center;
    }

    .seed {
        width: 120px;
    }

    input[type=checkbox] {
        width: 20px;
        height: 20px;
    }
}
