$white: white;
$blue: blue;
$green: green;
$red: red;
$black: black;
$gold: gold;
.PlayerBoard {
    position: relative;
    border: 1px solid black;
    padding: 2px 5px;
    align-items: center;
    background-color: lightblue;

    &.active {
        border-color: white;
    }

    .Score {
        font-size: 20px;
        padding: 0 5px;
        width: 30px;
        text-align: center;

        &.win {
            font-weight: bold;
            color: black;
        }
    }

    .Resources {
        display: flex;
        flex-direction: column;
        .Resource {
            display: flex;
            height: 24px;
            .Indicator {
                $size: 24px;
                display: flex;
                width: $size;
                height: $size;
                border-radius: $size;
                justify-content: center;
                align-items: center;
                &.white {
                    background-color: $white;
                }
                &.blue {
                    background-color: $blue;
                    color: white;
                }
                &.green {
                    background-color: $green;
                    color: black;
                }
                &.red {
                    background-color: $red;
                    color: black;
                }
                &.black {
                    background-color: $black;
                    color: #ccc;
                }
                &.gold {
                    background-color: $gold;
                }
            }

            .Count {
                margin-left: 3px;
            }
        }
    }
}
