$white: white;
$blue: blue;
$green: green;
$red: red;
$black: black;
$gold: gold;
.PlayerBoard {
    position: relative;
    .Resources {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        .Resource {
            display: flex;
            height: 24px;
            .Indicator {
                $size: 24px;
                display: flex;
                width: $size;
                height: $size;
                justify-content: center;
                align-items: center;
                &.white {
                    background-color: $white;
                }
                &.blue {
                    background-color: $blue;
                    color: white;
                }
                &.green {
                    background-color: $green;
                    color: black;
                }
                &.red {
                    background-color: $red;
                    color: black;
                }
                &.black {
                    background-color: $black;
                    color: #ccc;
                }
                &.gold {
                    background-color: $gold;
                }
            }

            .Count {
                margin-left: 3px;
            }
        }
    }

    .Score {
        position: absolute;
        right: 5px;
        top: 3px;
        & > div {
            display: inline-block;
        }
        .Title {

        }

        .Points {
            margin-left: 3px;
            font-weight: bold;
            font-size: 1.1em;
        }
    }
}
