.SummaryBackdrop {
    display: flex;
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;

    .Summary {
        background-color: white;
        min-width: 240px;
        padding: 15px;

        .row {
            align-items: center;

            .Score {
                padding: 0 15px;
            }
        }
    }
}
