/* vim:set ft=sass: */
.UserStatus {
    display: flex;
    align-items: center;

    button {
        font-size: 1em;
    }

    .user-name, .status {
        font-size: 16px;
        color: #543;
        margin-right: 1em;
        flex: 1;
        text-align: center;
    }

    .user-avatar {
        $size: 48px;
        width: $size;
        height: $size;
        border-radius: $size;
        margin-right: 1em;
    }
}
@media(min-width:767px) {
  .UserStatus {
      .user-name, .status {
          font-size: 18px;
          color: #543;
          margin-right: 1em;
      }
      .user-avatar {
          $size: 64px;
          width: $size;
          height: $size;
          border-radius: $size;
          margin-right: 1em;
      }
  }
}
